*{
  margin: 0px;
}
.App {
  text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style-type: none;
  display: flex;
  background-color: #333333;
  margin-bottom: 50px;
}
button{
  background-color: #333333;

}


li a ,button{
  display: inline-block;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
}
li a:hover
{
  
    background-color: #111111;
  
}
table {
  width: 60%;
  
}

